
<html>
{% load static %}
<head>

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<title> Bug Tracker - Home</title>

</head>

<body>
<div class = 'center'>
<h1> Bug Tracker</h1>
<h1>Home</h1>


{% if user.is_authenticated %}
  <h2>Hi <b><u><a href= {%url 'user_detail' user.id%}>{{ user.username }}!</a></b></h2></u>
  
| <a href = {% url 'signup'%}> <button>Create New Account</button></a> |
<a href = {% url 'create_ticket' user_id=user.id%}><button>Create Ticket</button></a> |
<a href="{% url 'logout' %}"><button>logout</button></a> | 
</div>
<div class = 'ticketcontainer'>
<div class = 'column'>
<h3>New Tickets:</h3>
{%for ticket in ticket_data%}
{% if ticket.ticket_status == "NEW"%}
      <p>Title: <a href = {% url 'ticket_detail' id=ticket.id%}>{{ticket.title}}</a>|
      | Filed by: <a href = {%url 'user_detail' user.id%}>{{ticket.filed_user}}</a> --
      Status: {{ticket.ticket_status}} </p>
    {%endif%}
{% endfor %}
</div>

<div class = "column" >
<h3> In Progress Tickets:</h3>
{%for ticket in ticket_data%}
{% if ticket.ticket_status == "IN PROGRESS"%}
      <p>Title: <a href = {% url 'ticket_detail' id=ticket.id%}>{{ticket.title}}</a>|
      | Filed by: <a href = {%url 'user_detail' user.id%}>{{ticket.filed_user}}</a> --
      Status: {{ticket.ticket_status}} </p>
    {%endif%}
{% endfor %}
</div>

<div class = 'column'>
<h3>Completed Tickets:</h3>
{%for ticket in ticket_data%}
{% if ticket.ticket_status == "DONE"%}
      <p>Title: <a href = {% url 'ticket_detail' id=ticket.id%}>{{ticket.title}}</a>|
      | Filed by: <a href = {%url 'user_detail' user.id%}>{{ticket.filed_user}}</a> -- Status: {{ticket.ticket_status}} </p>
    {%endif%}
{% endfor %}
</div>

<div class = 'column'>
<h3>Invalid Tickets:</h3>
{%for ticket in ticket_data%}
{% if ticket.ticket_status == "INVALID"%}
      <p>Title: <a href = {% url 'ticket_detail' id=ticket.id%}>{{ticket.title}}</a>|
      | Filed by: <a href = {%url 'user_detail' user.id%}>{{ticket.filed_user}}</a> -- Status: {{ticket.ticket_status}} </p>
    {%endif%}
{% endfor %}
</div>
</div>

{% endif %}
</body>
</html>
