<html>
{%load static%}
<head>
    <title> Bug Tracker - Ticket Detail</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

    <h1 class = 'center'>Ticket Detail:</h1>
<div class = 'center'>
    <h3>Title: {{ticket.title}}</h3>
    <p>Date: {{ticket.date}}</p>
    <p>Description: {{ticket.description}}</p>
    <p>Filed by: {{ticket.filed_user}}</p>
    <p>Ticket Status: {{ticket.ticket_status}}</p>
    <p>Assigned to: {{ticket.assigned_user}}</p>
    <p>Completed by: {{ticket.completed_user}}</p>
</div>
    <a href={%url 'in_progress' ticket_id=ticket.id%}><button>In Progress</button></a>
    <a href={%url 'invalid' ticket_id=ticket.id%}><button>Invalid</button></a>
    <a href={%url 'done' ticket_id=ticket.id%}><button>Complete</button></a>
    <a href={%url 'edit' ticket_id=ticket.id%}><button>Edit</button></a>

    <br>
    <p><a href={%url 'home'%}><button>Home</button></a></p>
</body>
</html>